<div [class]="width()">
  <div class="card mb-3 text-center">
    <div class="card-header d-flex justify-content-between position-relative ">
      <span class="fs-5 fw-bold">{{today | date : 'MMMM'}}</span>
      <div class="cont p-0 d-flex justify-content-center position-absolute top-0 end-0">
        <div class="box my-auto d-flex justify-content-center align-content-center" (click)="size($event,'l')">
          <div class="box-1 d-flex justify-content-center align-content-center" (click)="size($event,'m')">
            <div class="box-2" (click)="size($event,'s')"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body my-4">
      <h1 class="card-title display-1 fw-bold">{{today | date : 'd'}}</h1>
      <p class="fw-bold fs-5">{{today | date : 'EEEE'}}</p>
      <small class="text-primary">{{tillWeekend()}}</small>
    </div>
    <div class="card-footer ">
      <span class="bg-white border border-dark-subtle fs-4 align-middle me-1 px-1">{{today | date : 'ww'}}</span> <small
        class="align-middle"> week of
      </small><span class="align-middle">{{today |
        date :
        'yyyy'}}
        year.</span>
    </div>
  </div>
</div>