<div class="container col-lg-6 col-md-8 col-sm-11 col-12 mx-auto">
  <div class="d-flex mb-1">
    <div class=" input-group input-group-sm">
      <div class="input-group-text">
        <input class="form-check-input mt-0 fs-4" title="read" type="checkbox" value=""
          aria-label="Checkbox for following text input">
      </div>
      <button class="btn btn-outline-warning flex-grow-1 fs-4" type="button" title="add to favourite"><i
          class="bi bi-star"></i></button>
      <button class="btn btn-outline-success flex-grow-1 fs-4" type="button" title="reply"><i
          class="bi bi-reply"></i></button>
      <button class="btn btn-outline-primary flex-grow-1 fs-4" type="button" title="forward"><i
          class="bi bi-fast-forward"></i></button>
      <button class="btn btn-outline-danger flex-grow-1 fs-4" type="button" title="to trash"><i
          class="bi bi-trash"></i></button>
    </div>
  </div>
  <div class="row g-0 mb-1 align-items-stretch ">
    <div class="col-sm-3 col-md-2 border-end d-flex align-items-center border rounded ">
      <div class="input-group input-group-sm h-100">
        <span class="input-group-text w-100 border-0 bg-light">Author</span>
      </div>
    </div>
    <div class="col-sm-9 col-md-10 border  rounded">
      <div class="form-control border-0 ">Karol</div>
    </div>
  </div>
  <div class="row g-0 mb-1 align-items-stretch ">
    <div class="col-sm-3 col-md-2 border-end d-flex align-items-center border rounded ">
      <div class="input-group input-group-sm h-100">
        <span class="input-group-text w-100 border-0 bg-light">Created</span>
      </div>
    </div>
    <div class="col-sm-9 col-md-10 border  rounded">
      <div class="form-control border-0 ">12.12.2024</div>
    </div>
  </div>
  <div class="row g-0 mb-1 align-items-stretch ">
    <div class="col-sm-3 col-md-2 border-end d-flex align-items-center border rounded ">
      <div class="input-group input-group-sm h-100">
        <span class="input-group-text w-100 border-0 bg-light">Message</span>
      </div>
    </div>
    <div class="col-sm-9 col-md-10 border  rounded">
      <div class="form-control border-0 ">Długa wiadomość, która zajmuje więcej niż jeden wiersz tekstu.
        To jest przykład, aby pokazać, jak działa rozciąganie. To jest jeszcze dłuższa wiadomość, żeby lepiej
        zademonstrować działanie.</div>
    </div>
  </div>
  <div class="row g-0 mb-1 align-items-stretch ">
    <div class="col-sm-3 col-md-2 border-end d-flex align-items-center border rounded ">
      <div class="input-group input-group-sm h-100">
        <span class="input-group-text w-100 border-0 bg-light">id:</span>
      </div>
    </div>
    <div class="col-sm-9 col-md-10 border  rounded">
      <div class="form-control border-0 ">241252352342</div>
    </div>
  </div>
</div>