<div class="card w-128 text-center m-1">
  <img src="assets/images/avatar.png" class="card-img-top p-3" alt="...">
  <div class="card-body">
    <h5 class="card-title text-capitalize">{{_user.name}}</h5>
    <div class="progress text-dark" role="progressbar">
      <div class="progress-bar" [ngClass]="{'bg-success': percent === 100, 'bg-danger': percent <= 13}"
        [style]="'width: '+percent+'%'"></div>
    </div>
    <small>
      {{_user.hoursWorked}}/{{_user.workingDay}} h
    </small>
  </div>
  <small class="card-text"># {{_user.uid}}</small>
</div>