$wrapper-increase: 14%;
$blue-color: hsla(216, 98%, 52%, 1);
$blue-color-hover: hsla(216, 98%, 52%, 0.65);
$sizes: (
	xs: 67px,
	s: 100px,
	m: 200px,
	l: 266px,
	xl: 333px,
);

.selected {
	background-color: $blue-color;
}

@each $name, $size in $sizes {
	.size-#{$name} {
		width: #{$size};
		height: #{$size};
	}
	.wrapper-#{$name} {
		$wh: calc(#{$size} + $wrapper-increase);
		width: $wh;
		height: $wh;
	}
}

@for $i from 0 through 7 {
	.image-#{$i} {
		background-image: url("../../../../../public/assets/images/thumbnails/output_kwadrat_avatar_cropped_#{$i}_1.png");
	}
}

.image {
	background-size: contain;
}

.wrapper {
	transform-origin: top left;
	border-radius: 50%;
	&.hoverable:hover {
		background-color: $blue-color-hover;
	}
}
