<div class="container text-center">
  <div class="my-5">
    <h2 class=" me-2 pacifico-regular d-inline">Hello</h2>
    @if(user$ | async;as user){
    <div class="fs-1 h-1 d-inline"><span class="text-bg-warning fw-bold p-1">{{user}}</span></div>
    }
    <div class="fs-1 d-inline"><span>.</span></div>
  </div>
  <figure class="text-center">
    @if(randomQuotes$ | async; as quote){
    <blockquote class="blockquote">
      <p>{{quote.quote}}</p>
    </blockquote>
    <figcaption class="blockquote-footer">
      <cite title="Source Title">{{quote.author}}</cite>
    </figcaption>
    }
  </figure>
  <div class="w-100 d-flex justify-content-center p-5">
    <div class="maxw-320">
      <app-calendar-sheet></app-calendar-sheet>
    </div>
  </div>
</div>