<nav class="navbar navbar-expand-md bg-body-tertiary ">
  <div class="container-fluid ">
    <span class="navbar-brand mb-0 h1">
      <a class="text-decoration-none text-reset" routerLink="welcome">
        <ng-content></ng-content>
      </a>
      @if(currentUrl$ | async ; as url){
      <span class="navbar-brand mb-0 fs-6">
        <a class="text-decoration-none text-success ">
          {{url}}
        </a>
      </span>
      }
    </span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        @for(link of links; track link){
        <li class="nav-item me-3">
          <a class="nav-link" [routerLink]="link" (click)="routeTo(link)">{{link}}</a>
        </li>
        }
      </ul>
    </div>
  </div>
</nav>