<div class="container text-center">
  @if(user$ | async; as user){
  <div class="card text-center m-5">
    <div class="card-header">
      <img src="assets/images/avatar.png" class="card-img-top  w-25" alt="...">
    </div>
    <div class="card-body">
      <h5 class="card-title">{{user.displayName}}</h5>
      <span class="label">login : </span>
      <span class="card-text">{{user.email}}</span>

      <div class="d-flex justify-content-center mt-3">
        <button class="btn btn-primary me-3" (click)="logOut()">Log out</button>
        <button class="btn btn-primary" (click)="logOut()">Edit</button>

      </div>
    </div>
    <div class="card-footer text-body-secondary">
      last SignIn : {{user.metadata.lastSignInTime}}
    </div>
  </div>
  } @else {
  <h1 class="m-5">Nobody logged</h1>
  }
</div>