<div class="card ">
  @let tasks = (tasks$ | async) ?? [];
  @let group = (group$ | async) ;
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      @for(tab of tabs; track $index){
      <li class="nav-item" (click)="selectTab(tab)">
        <button class="nav-link text-reset" [class.active]="actualTab===tab">{{tab}}
          @if(tab === 'Active Tasks'){
          @if(tasks){
          <span class="badge text-bg-danger">
            {{tasks.length}}
          </span>
          }
          }
          @if(tab === 'Messages'){
          @if(messages$ | async; as messages){
          <span class="badge text-bg-danger">
            {{messages.length}}
          </span>
          }
          }
          @if(tab === 'Workers' ){
          @if(workers.length > 0 ){
          <span class="badge text-bg-danger">
            {{workers.length}}
          </span>
          }
          }
        </button>
      </li>
      }
    </ul>
  </div>
  <div class="card-body p-0">
    <ul class="list-group list-group-flush">
      @if(actualTab==="Active Tasks" || actualTab==="All"){
      @if(tasks.length > 0){
      <li class="list-group-item py-3">Active Tasks :
        <div class="table-responsive-md mx-3">
          <table class="table table-hover table-borderless ">
            <thead>
              <tr>
                <th scope="col">Prio</th>
                <th scope="col">Name</th>
                <th scope="col">Info</th>
                <th scope="col">Started</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              @for(task of tasks; track $index){
              <tr>
                <th scope="row"><span class="badge rounded-pill"
                    [class]="setColor(task.priority)">{{task.priority}}</span></th>
                <td>{{task.name}}</td>
                <td>{{task.description}}</td>
                <td>{{task.started | date : 'dd MMM yyyy, HH:mm'}}</td>
                <td> <button type="button" class="btn btn-sm btn-primary rounded-pill "
                    (click)="open(task)">Open</button>
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
        <div class="d-flex justify-content-end">
          <button class="btn  btn-outline-warning fw-bold "><i class="bi bi-clock-history"></i> History</button>
        </div>
      </li>
      }
      }
      @if(actualTab==="Workers" || actualTab==="All"){
      @if(data.tasks && data.tasks.activeTasks){
      <li class="list-group-item py-3 ">Workers :
        <div class="d-flex justify-content-start flex-wrap">
          @for(worker of data.workers; track worker){
          <app-medium-avatar [user]="worker"></app-medium-avatar>
          }
        </div>
      </li>
      }
      }
      @if(actualTab==="Messages" || actualTab==="All"){
      <app-message-list-page></app-message-list-page>
      }
    </ul>
  </div>
</div>
<div class="display display-1 z-1 text-end pe-3">{{group?.name}}</div>
<div class="container">
  <div class="workshop">
    <span>w</span>
    <span>o</span>
    <span>r</span>
    <span>k</span>
    <span>s</span>
    <span>h</span>
    <span>o</span>
    <span>p</span>
  </div>

</div>