<div class="card p-3 m-5 w320 mx-auto bg-body-tertiary"
  [ngClass]="myForm.invalid && myForm.touched ? 'border-danger' : ''">
  <h3 class="text-center m-3">Create user account</h3>
  <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)" class="pb-3">
    <div class="mb-3">
      <label for="username" class="form-label">User name</label>
      <input type="email" #username="ngModel" class="form-control" id="username" minlength="4" required
        [(ngModel)]="model.username" name="username"
        [ngClass]="username.invalid && username.touched ? 'is-invalid' : ''"
        [class]="credentialError != null ? 'is-invalid' : ''">
      <div class="invalid-feedback">{{credentialError}}</div>
      @if(username.invalid && username.touched ){
      <div class="form-text text-danger">Enter your username. Minimum 4 characters.</div>
      }
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" #emailInput="ngModel" email class="form-control" id="email" [(ngModel)]="model.email" required
        name="email"
        [ngClass]="{'is-invalid': (emailInput.invalid && emailInput.touched || emailError || credentialError)}" />
      <div class="invalid-feedback">{{emailError}}</div>
      <div class="invalid-feedback">{{credentialError}}</div>
      @if(emailInput.invalid && emailInput.touched){
      <div class="form-text text-danger">Enter valid email</div>
      }
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" [(ngModel)]="model.password" required
        pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[!@#$%^&*()]).{8,}$" name="password" #password="ngModel"
        [ngClass]="{'is-invalid': (passwordError || credentialError || password.invalid && password.touched)}" />
      <div class="invalid-feedback">{{passwordError}}</div>
      <div class="invalid-feedback">{{credentialError}}</div>
      @if(password.invalid && password.touched){
      <div class="form-text text-danger">The password must be at least 8 characters, contain at least one capital
        letter, one lowercase letter, one digit and one special character</div>
      }
    </div>
    <div class="mb-3">
      <label class="form-label" for="role">Role</label>
      <select class="form-select" id="role" name="role" [(ngModel)]="model.role">
        <option value="admin" [disabled]="creatorRole!==roles.admin">Admin</option>
        <option value="standard">Standard</option>
      </select>
    </div>
    <label for="avatar-img" class="form-label">Select your avatar:</label>
    <div type="input" id="avatar-img" class="card p-3 mb-3">
      <div class="d-flex flex-wrap justify-content-around">
        @for(avatarID of ['0','1','2','3','4','5','6','7'];track $index){
        <app-avatar-image [id]="avatarID" [selected]="avatarID===model.selectedAvatar"
          (click)="toggleSelect(avatarID)"></app-avatar-image>
        }
      </div>
    </div>
    <div class="text-center">
      <button class="btn btn-primary " type="submit" [disabled]="myForm.invalid">Create</button>
    </div>
    @if(networkError){
    <div class="form-text text-danger m-3">{{networkError}}</div>
    }
  </form>