<div class="container m-auto mt-5">
  <app-horizontal-card>
    <app-avatar-image class="image" size="m" [id]="worker()?.avatarID ?? ''"></app-avatar-image>
    <h5 class="card-title title text-capitalize fw-bold">{{worker()?.name ?? 'loading...'}}</h5>
    <p class="card-text text">description : {{worker()?.description}}.</p>
    <p class="card-text text ">department : <span class="text-uppercase">{{worker()?.departmentId}}</span></p>
    <p>Actual task: {{actualTask()?.name}}</p>
    <label for="customRange2" class="form-label">Working Day : {{workingDayModel() ?? worker()?.workingDay}}</label>
    <input type="range" class="form-range" min="0" max="8" id="customRange2" [value]="worker()?.workingDay"
      name="workingDay" [(ngModel)]="workingDayModel" disabled>
    <p>Actual month total hours : {{worker()?.actualMonthHours}} h</p>
    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
  </app-horizontal-card>

</div>