<div class="container m-auto mt-3">
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col d-flex justify-content-center">
        <app-avatar-image size="m" [id]="'1'"></app-avatar-image>
      </div>
      <div class="col-sm-12 col-sm-12 col-md-8">
        <div class="card-body">
          <h5 class="card-title">Worker Name</h5>
          <p class="card-text">Here will be more information aboute this worker.</p>
          <p>Actual task: </p>
          <label for="customRange2" class="form-label">Working Day :</label>
          <input type="range" class="form-range" min="0" max="5" id="customRange2" disabled>
          <p>Total hours actual month : </p>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>

        </div>
      </div>
    </div>
  </div>
</div>