<div class="container col-lg-6 col-md-8 col-sm-11 col-12 mx-auto">
  @let id = data()?.id;
  @let priority = data()?.priority ?? 0;
  <div class="d-flex mb-1">
    <div class=" input-group input-group-sm">
      <button class="btn btn-outline-primary flex-grow-1 fs-4" type="button" title="edit" (click)="toggleEdit()"><i
          class="bi bi-pencil-square"></i>
      </button>
      <button class="btn btn-outline-success flex-grow-1 fs-4" type="button" title="archive"><i
          class="bi bi-archive"></i></button>
      @if(editMode()){
      <button class="btn btn-outline-danger flex-grow-1 fs-4" type="button" title="to trash"><i
          class="bi bi-trash"></i></button>}
    </div>
  </div>
  <app-list-item label="Priority">
    <span class="badge rounded-pill" [class]="setColor(priority)">{{priority}}</span>
  </app-list-item>
  <app-list-item label="Name">{{data()?.name}}</app-list-item>
  <app-list-item label="Info">{{data()?.description}}</app-list-item>
  <app-list-item label="Started">{{data()?.timestamp.toDate().toISOString() | date : 'HH:mm dd.MM.YY '
    }}</app-list-item>
  <app-list-item label="Contractors">{{data()?.contractorsNames}}</app-list-item>
  <app-list-item label="Steps">
    <ul class="list-group list-group-flush">
      @for(keyValue of data()?.steps; track $index; let i = $index){
      <li class="list-group-item">
        <input class="form-check-input me-1" type="checkbox" #check [name]="keyValue[0]" [checked]="keyValue[1]"
          [disabled]="!editMode()" id="{{i}}" (change)="toggle(id , check)">
        <label class="form-check-label" for="{{i}}">{{keyValue[0]}}</label>
      </li>
      }
    </ul>
  </app-list-item>
  <app-list-item label="Task Id">{{data()?.id}}</app-list-item>
</div>