<div class="card ">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      @for(tab of tabs; track $index){
      <li class="nav-item" (click)="selectTab(tab)">
        <button class="nav-link text-reset" [class.active]="actualTab===tab">{{tab}}
          @if(tab === 'Active Tasks' && notifications.activeTasks){
          <span class="badge text-bg-danger">
            {{notifications.activeTasks}}
          </span>
          }
          @if(tab === 'Messages' && notifications.messages){
          <span class="badge text-bg-danger">
            {{notifications.messages}}
          </span>
          }
          @if(tab === 'Workers' && notifications.workers){
          <span class="badge text-bg-danger">
            {{notifications.workers}}
          </span>
          }
        </button>
      </li>
      }
    </ul>
  </div>
  <div class="card-body p-0">
    <ul class="list-group list-group-flush">
      @if(actualTab==="Active Tasks" || actualTab==="All"){
      @if(data.tasks && data.tasks.activeTasks){
      <li class="list-group-item py-3">Active Tasks :
        @for(task of data.tasks.activeTasks; track task){
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item p-2"><i class="bi bi-gear"></i>
          </li>
          <li class="list-group-item "><small>{{data.tasks.activeTasks[0].name}}</small></li>
          <li class="list-group-item flex-grow-1"><small>{{data.tasks.activeTasks[0].content.description
              }}</small>
          </li>
          <button type="button" class="list-group-item list-group-item-secondary p-2">Open</button>
        </ul>
        }
      </li>
      }
      }
      @if(actualTab==="Workers" || actualTab==="All"){
      @if(data.tasks && data.tasks.activeTasks){
      <li class="list-group-item py-3 ">Workers :
        <div class="d-flex justify-content-start flex-wrap">
          @for(worker of data.workers; track worker){
          <app-medium-avatar [user]="worker"></app-medium-avatar>
          }
        </div>
      </li>
      }
      }
      @if(actualTab==="Messages" || actualTab==="All"){
      <app-message-list-page></app-message-list-page>
      }
    </ul>
  </div>
</div>