<div class="card mw-120">
  <div class="card-header fw-bold text-body text-center bg-info bg-gradient bg-opacity-50 text-capitalize">
    <span class="fs-5 me-1">{{title}}</span> <span class="badge bg-success align-top">12</span>
  </div>
  <div class="card-body">
    Featured
    <button class="btn btn-info">
      Notifications
      <span class="badge bg-success">12</span>
    </button>
  </div>
  <div class="card-footer text-center p-0">
    <button type="button" class="btn btn-outline-info py-0 w-100">
      <i class="bi bi-three-dots"></i>
    </button>
  </div>
</div>